
.text{
    font-weight: bolder;
    font-style: italic;
}
.test{
    padding-top: 20px;
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 35px;
    margin-top: 30px;
}
.h1-test{
    margin-left: -50px;
}
.function{
    padding-top: 50px;
}
.function p{
    font-size: 24px;
        margin-left: 150px;
}
.h1-function{
    margin-bottom: 120px;
}
.results{
    padding-top: 50px;
}
.h1-result{
    margin-left: -30px;
}
.result-text{
    font-size: 12px;
    text-align: center;
}
input{
    width: 150px;
    font-size: 14px;
    text-align: center;
    font-family: 'Bungee', cursive!important;
    background-color: #686868;
}
p{
    margin-bottom: 0px!important;
    color: #FFF;
}
h1{
    font-size: 50px!important;
    font-family: 'Bungee', cursive!important;
    text-align: center;
    text-shadow: 1px -1px #ff0000;

}
.background{
    width: 100%;
    height: 100%;
    position: fixed;
}
#defaultCanvas0{
    display: none;
}
.indent{
    padding-left: 30px;
    margin-bottom: 0px!important;
}
.doubleIndent{
    padding-left: 60px;
    margin-bottom: 0px!important;
}
#output{
    margin: auto;
    height: 500px;
    width: 150px;
    border: 1px solid #686868;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    color: #fff;
    font-size: 25px;
    font-family: 'Bungee', cursive!important;
    text-align: center;
}
#num{
    margin-top: 10px;
}
button{
    width: 200px;
    height: 80px;
    margin-top: 20px!important;
    margin-left: -25px!important;
    font-size: 20px;
    background-color: #292b2c;
    border: 2px dashed #ff0000;
    border-radius: 10px;
    font-family: 'Bungee', cursive!important;
    color: #fff;
    font-size: 45px!important;

}