
.text{
    font-weight: bolder;
    font-style: italic;
}
.test{
    padding-top: 20px;
    text-align: center;
}
.function{
    padding-top: 20px;
}
.results{
    padding-top: 20px;
}
input{
    width: 50px;
    font-size: 14px;
    text-align: center;
}
p{
    margin-bottom: 0px!important;
}
.indent{
    padding-left: 30px;
    margin-bottom: 0px!important;
}
.doubleIndent{
    padding-left: 60px;
    margin-bottom: 0px!important;
}
#output{
    margin: auto;
    height: 600px;
    width: 150px;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}